# 隐私与环境相关
docker/.env

# 运行时产物
logs/
temp/
*.log
bin/
webserver
envinit

# IDE
.idea/
.vscode/
/internal/config/config.yaml
/docs/swagger.yaml
/docs/swagger.json
/envinit.exe
/webserver.exe
/envinit.exe
/live_asr.json
/docs/默认提示词.txt
/docker/html
/.qoder
